* {
    box-sizing: border-box;
}

body {
    overflow-y: hidden;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    z-index: 0;
}

.options {
    position: absolute;
    top: 0rem;
    left: 0rem;
    z-index: 10;
    padding: 1rem;
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 2px solid rgba(255, 255, 255, 0.44);

    button {
        padding: .5rem 1rem;
        border: none;
        outline: none;
        background-color: #eea216;
        color: #fff;
        text-transform: uppercase;
        font-weight: 800;
        transition: all .5s;
        width: 100px;
        height: 35px;
        cursor: pointer;

        &:hover {
            background-color: #ffa500;

        }
    }
}